<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title style="margin-left: 15px">OS System</mat-card-title>
    <mat-card-subtitle style="margin-bottom: 20px; margin-left: 15px"
      >Sistema de Ordens de Serviço desenvolvido para aprimorar meus
      conhecimentos em angular, java e google cloud</mat-card-subtitle
    >
  </mat-card-header>
  <div style="display: flex; justify-content: center">
    <img
      src="assets/work.png"
      height="400px"
      width="500px"
      alt="trabalhadores"
    /></div
></mat-card>
