<div class="container">
  <h1>Criando nova Ordem de Serviço</h1>
  <div class="flexData">
      <mat-form-field appearance="fill" class="labels">
        <mat-label>Técnico</mat-label>
        <mat-select [(value)]="os.tecnicoDTO.id" >
          <mat-option *ngFor="let tec of tecnicos" [value]="tec.id">{{
            tec.nome
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="labels">
        <mat-label>Cliente</mat-label>
        <mat-select [(value)]="os.clienteDTO.id">
          <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{
            cli.nome
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="labels">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="os.statusId">
          <mat-option value="0">ABERTO</mat-option>
          <mat-option value="1">EM ANDAMENTO</mat-option>
          <mat-option value="2">ENCERRADO</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="labels">
        <mat-label>Prioridade</mat-label>
        <mat-select [(value)]="os.prioridadeId">
          <mat-option value="0">BAIXA</mat-option>
          <mat-option value="1">MÉDIA</mat-option>
          <mat-option value="2">ALTA</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Adicione as observações da ordem de serviço</mat-label>
      <textarea
        [(ngModel)]="os.observacoes"
        name="observacoes"
        matInput
        style="height: 200px;"
        maxlength="500"
      ></textarea>
    </mat-form-field>
  </form>

  <button
    (click)="create()"
    class="mat-elevation-z8"
    mat-stroked-button
    color="accent"
    style="margin-right: 10%;"
  >
    CRIAR
  </button>
  <button
    (click)="cancel()"
    class="mat-elevation-z8"
    mat-stroked-button
    color="warn"
  >
    CANCELAR
  </button>
</div>
