<form class="form mat-elevation-z8">
  <h1>Criando novo técnico</h1>
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input [(ngModel)]="cliente.nome" [formControl]="nome" maxlength="100" required  name="nome" matInput placeholder="Ex. Linus Torvalds">
    <mat-error *ngIf="nome.invalid" >{{ errorValidNome() }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>CPF</mat-label>
    <input [(ngModel)]="cliente.cpf" [formControl]="cpf" required maxlength="15" name="cpf" matInput placeholder="000.000.000-00">
    <mat-error *ngIf="cpf.invalid" >{{ errorValidCpf() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Telefone</mat-label>
    <input [(ngModel)]="cliente.telefone" [formControl]="telefone" required maxlength="18" name="telefone" name="telefone" matInput placeholder="65 99660-1675">
    <mat-error *ngIf="telefone.invalid" >{{ errorValidTelefone() }}</mat-error>
  </mat-form-field>
  <button (click)="create()" [disabled]="errorValidNome() || errorValidCpf() || errorValidTelefone()" mat-stroked-button color="accent">CRIAR</button>
  <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
