.container {
  width: 70%;
  margin: auto;
}

.card {
  padding: 15px 30px;
  height: 300px;
}

.observacoes {
  text-align: start;
  /* margin-bottom: 4rem; */
}

.abertura {
  text-align: start;
  margin-bottom: 1.5rem;
}

button {
  width: 100%;
  margin-top: .5rem;
}