<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <div class="center"><i class="material-icons">home</i>Home</div>
      </a>
      <a mat-list-item routerLink="tecnicos">
        <div class="center"><i class="material-icons">work</i>Técnico</div>
      </a>
      <a mat-list-item routerLink="/clientes">
        <div class="center">
          <i class="material-icons">person_search</i>Cliente
        </div>
      </a>
      <a mat-list-item routerLink="/os">
        <div class="center">
          <i class="material-icons">person_pin</i>Ordem de Serviço
        </div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
