<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer #sidenav class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <div class="center"><i class="material-icons">home</i>Home</div>
      </a>
      <a mat-list-item routerLink="tecnicos">
        <div class="center"><i class="material-icons">work</i>Técnico</div>
      </a>
      <a mat-list-item routerLink="/clientes">
        <div class="center">
          <i class="material-icons">person_search</i>Cliente
        </div>
      </a>
      <a mat-list-item routerLink="/os">
        <div class="center">
          <i class="material-icons">person_pin</i>Ordem de Serviço
        </div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content" style="margin-top: -10px;">
    <button mat-icon-button (click)="drawer.toggle()" style="margin-bottom: -20px; width: 75px; height: 60px;">
      <mat-icon style="font-size: 40px; height: 35px; width: 30px;">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
